/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v36-latin-regular.woff2') format('woff2');
}

/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/open-sans-v36-latin-700.woff2') format('woff2');
}

/* roboto-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-mono-v23-latin-regular.woff2') format('woff2');
}

/************************** @media Mobile Devises *****************************/

@media screen and (max-width: 900px) {

    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .mobile-navlinks {
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    .mobile-navlinks a {
        display: block;
        text-align: center;
        margin-bottom: 16px;
        padding: 8px;
    }

    .wrapper {
        width: 85vw;
    }

    nav li {
        padding-left: 2em;
    }

    .landing-page,
    .about-wrapper,
    .leistungen-wrapper,
    .kontakt-wrapper,
    .footer-wrapper {
        width: 75vw;
    }

    h1 {
        width: 375px;
        font-size: 1.8em;
    }

    .landing-page-container {
        font-size: 1em;
        width: 375px;
    }

    .about {
        min-height: 100vh;
        background-position: left;
    }

    .about-wrapper {
        position: relative;
        top: 85px;
    }

    main {
        width: 100%;
    }

    .projekte-container {
        width: 345px;
    }

    .leistungen-container,
    .kontakt-wrapper form {
        width: 375px;
    }

    div.projekte {
        margin: 2em 0;
    }

    .footer-wrapper p {
        font-size: 0.75em;
    }

    form button.btn {
        float: left !important;
    }
}

/************************** @media Medium Devises *****************************/

@media screen and (min-width: 901px) and (max-width: 1399px) {

    .hamburger-menu {
        display: none;
    }

    .wrapper {
        width: 85vw;
    }

    nav li {
        padding-left: 2em;
    }

    .landing-page,
    .about-wrapper,
    .leistungen-wrapper,
    .kontakt-wrapper,
    .footer-wrapper {
        width: 75vw;
    }

    h1 {
        width: 375px;
        font-size: 2em;
    }

    .landing-page-container {
        font-size: 1em;
        width: 375px;
    }

    .about {
        min-height: 100vh;
        background-position: left;
    }

    main {
        width: 55%;
    }

    .projekte-container {
        width: 345px;
    }

    .leistungen-container,
    .kontakt-wrapper form {
        width: 375px;
    }
}

/************************** @media Large Devises *****************************/

@media screen and (min-width: 1400px) {

    .hamburger-menu {
        display: none;
    }

    .wrapper {
        width: 65vw;
    }

    nav li {
        padding-left: 2.5em;
    }

    .landing-page,
    .about-wrapper,
    .leistungen-wrapper,
    .kontakt-wrapper,
    .footer-wrapper {
        width: 55vw;
    }

    h1 {
        width: 512px;
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    p,
    h3 {
        font-size: 1.1em;
        line-height: 1.75em;
    }

    .landing-page-container {
        font-size: 1.2em;
        width: 512px;
    }

    .about {
        height: 100vh;
        background-position: center;
    }

    main {
        width: 55%;
    }

    .projekte-container {
        width: 30%;
    }

    .leistungen-container,
    .kontakt-wrapper form {
        width: 45%;
    }
}

/************************** HTML *****************************/

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin-bottom: 1em;
}

.wrapper {
    margin: 0 auto;
    position: relative;
}

/************************** Header *****************************/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5em 0;
}

.logo img {
    height: 2em;
}

li,
a,
button {
    font-family: 'Roboto Mono', monospace;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    color: #0000FF;
}

.cta {
    padding: 1em 2em;
    background-color: #0000FF;
    color: #FFFFFF;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.cta:hover {
    background-color: #0000dd;
}

/************************** Landing Page *****************************/

.landing-page {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
}

.btn {
    padding: 1em 2em;
    color: #0000FF;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #0000FF;
    border-radius: 2em;
    cursor: pointer;
}

.btn:hover {
    background-color: #0000FF;
    color: #FFFFFF;
}

.landing-page-container p {
    margin-bottom: 1em;
}

/************************** About *****************************/

.about {
    display: flex;
    align-items: center;
    background-image: url(images/bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-wrapper {
    margin: 0 auto;
}

/************************** Projekte *****************************/

.projekte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 100vh;
}

.projekte-container img {
    width: 100%;
}

/************************** Leistungen *****************************/

.leistungen {
    background-color: #F5F5F5;
}

.leistungen-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2em 0;
}

.skillbar li {
    list-style: none;
    margin: 3em 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: relative;
    top: -1em;
}

.skillbar li::before {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.skillbar li::after {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #A3A3A3;
    border-radius: 10px;
}

li.html::after {
    width: 90%;
}

li.css::after {
    width: 70%;
}

li.js::after {
    width: 60%;
}

li.uiux::after {
    width: 90%;
}

/************************** Kontakt *****************************/

.kontakt-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3em 0;
}

.kontakt-wrapper form {
    float: left;
}

form button.btn {
    float: right;
}

.kontakt-container a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1em;
}

.form-lable {
    display: block;
    margin-bottom: 0.25em;
}

.form-input {
    font-size: 1em;
    border-style: none;
    border-bottom: 1px solid #A3A3A3;
    width: 100%;
}

textarea {
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

.form-input::placeholder {
    color: #D9D9D9;
}

.form-input:focus {
    box-shadow: none;
    border-color: #0000FF;
    outline: none;
}

.kontakt-container>p:last-child {
    margin-bottom: 2em;
}

/************************** Footer *****************************/

footer {
    background-color: #0000FF;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.5em 0;
    color: #FFFFFF;
}

.footer-wrapper p {
    margin: 0;
}

.footer-wrapper img {
    position: relative;
    top: 1px;
}
